<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <form [formGroup]="usuariosForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                   

                <label>Nombre</label>
                <input class="form-control" type="text" formControlName="username" required>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="text" formControlPassword="password" required>
            </div>

            <div class="form-group">
                <button class="btn btn-dark text-white btn-block" type="submit">Añadir</button>
            </div>
        </form>
    </div>
</div>
<div>
    <a routerLink='/usuarios'>Volver</a>
</div>