<div class="container">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Productos</h2>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pr of productos; let i = index">
                    <th scope="row">{{pr.id}}</th>
                    <td>{{pr.name}}</td>
                    <button class="btn btn-sm btn-primary btn-detail" routerLink="/detallesproductos/{{pr.id}}">
                        detalles</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(pr.id, i)">
                        delete
                    </button>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class=""  routerLinkActive="active" routerLink="/altaproductos">Añadir</button>
    </div>
</div>